.navbar-default.sidebar{:role => "navigation"}
  .sidebar-nav.navbar-collapse
    %ul#side-menu.nav
      %li
        =link_to admin_root_path, class: "sidebar__link sidebar__link--#{nav_link_state(:homes)}" do
          %i.fa.fa-dashboard.fa-fw
          Dashboard

      - DashboardManifest::DASHBOARDS.drop(1).each do |resource|
        %li
          = link_to [:admin, resource], class: "sidebar__link sidebar__link--#{nav_link_state(resource)}" do
            %i.fa.fa-table.fa-fw
            = display_resource_name(resource)

      %li
        = link_to admin_settings_edit_path, class: "sidebar__link #{active_sidebar(:settings)}" do
          %i.fa.fa-cog.fa-fw
          = Settings.model_name.human

      %li
        = link_to admin_adds_edit_path, class: "sidebar__link #{active_sidebar(:adds)}" do
          %i.fa.fa-cog.fa-fw
          = Adds.model_name.human
